# Firebase Client SDK
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Firebase Admin SDK (Server-side)
# Descargar desde: Firebase Console -> Project Settings -> Service Accounts -> Generate New Private Key
# Guardar el JSON en un archivo y convertir a una sola línea con \n escapados
FIREBASE_SERVICE_ACCOUNT_KEY=
